@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden !important;
}

.textPrimary {
    color: rgb(0 171 225);
}
.textPrimary2 {
    color: rgb(18 115 152);
}

.bgPrimary {
  background-color: rgb(0 171 225);
}
.bgWhite {
    background-color: rgb(245 250 255);
}
.borderPrimary {
    border-color: rgb(0 171 225);
}